@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  0%,
  20% {
    opacity: 0;
  }
  21%,
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 3s linear infinite;
}
